#################################################################################### 
#                                                                                  #
#    Resource file for surface parameters, *jointly* used by the GCM and GEOSldas. #     
#                                                                                  #
#    Different default values for the GCM and GEOSldas are supported as follows:   #
#                                                                                  #
#    - Lines that are NOT commented out can be used to specify GCM defaults as     #
#        needed, because they are ignored by GEOSldas.                             #
#                                                                                  #
#    - The string "GEOSldas=>" identifies the GEOSldas default.                    # 
#                                                                                  #
#    This works because this resource file is processed by the GEOSldas            #
#      script "ldas_setup".                                                        #
#                                                                                  #
#    NOTE: For the GCM, there must NOT be white space between the resource         #
#          parameter name and the colon.                                           #                                         
#                                                                                  #
#################################################################################### 

#################################################################################### 
#                                                                                  #
#                            W A R N I N G ! ! !                                   #
#                                                                                  #
#    Many of the parameter options described below may NOT work as intended, or    # 
#      at all...                                                                   #
#                                                                                  #
#    Choosing values other than the suggested defaults is NOT recommended for      #
#      general users.                                                              #
#                                                                                  #
#################################################################################### 

# ---- Surface layer turbulence scheme
#
#    0 : Louis                  (MERRA, Fortuna-DAS, SMAP NRv4/4.1/5/7.2/8.1/9.1/10.0)
#    1 : Helfand Monin-Obukhov  (Fortuna-AR5, Ganymed, Heracles, Icarus-3_2, MERRA-2)
#
# GEOSagcm=>CHOOSEMOSFC: 1
# GEOSldas=>CHOOSEMOSFC: 0

# ---- Thickness of surface layer for soil moisture [mm]
#
#    50.0 : Ganymed-4 and later, SMAP L4_SM 
#    20.0 : Ganymed-3 and earlier
#
# GEOSagcm=>SURFLAY: 50.0
# GEOSldas=>SURFLAY: 50.0
 
# ---- Assorted Catchment/snow model parameters associated with certain model versions:
#
#    CATCHMENT model versions
#    ------------------------
#    Icarus  : Icarus/f522_fp and earlier (scientifically close to MERRA-2)
#    V24_C05 : GEOSldas_m4-17_0
#    NRv7.2  : SMAP L4_SM Version 4, 5, 6, 7; f525_fp, f527_fp, f529_fp
#
#    CATCHMENT-CN model versions
#    ---------------------------
#    CN_CLM40 : Fanwei Zeng's science-validated and published Catchment-CN.4.0 (e0004s_transientCO2_05)   
#
# GEOSagcm=>LAND_PARAMS: NRv7.2
# GEOSldas=>LAND_PARAMS: NRv7.2

# ---- Formulation for turbulent roughness length (z0)
#
#    0 : Fortuna,      SMAP NRv3
#    1 : Ganymed-4_1,  SMAP NRv4/NRv4.1
#    2 : Heracles-4_3, Icarus (AGCM default)
#    3 :               SMAP NRv5/NRv7.2
#    4 : Icarus-NLv3 (f525_fp, f527_fp, f529_fp)
#                      SMAP NRv8.1, NRv9.1, NRv10.0
#
# GEOSagcm=>Z0_FORMULATION: 4
# GEOSldas=>Z0_FORMULATION: 4

# ---- Compute runoff from large-scale and convective storms
#	
#   FWETC and FWETL are the areal fractions of canopy on to which convective and "large-scale" precipitation 
#   falls, respectively.  These parameter values and the functional form to compute surface runoff
#   are set in conjunction with the logical resource parameter USE_FWET_FOR_RUNOFF as follows:
#
#    .FALSE.  : Default; uses total throughfall to compute surface runoff with FWETC=FWETL=0.02. 
#
#    .TRUE.   : Accounts for separate convective and large-scale throughfalls to compute surface runoff.
#               Off-line, 36-km simulations using MERRA-2(?) forcing yielded calibrated parameter values 
#               of FWETC=0.005 and FWETL=0.025.
#               Note that the partitioning between "convective" and "large-scale" precipitation in 
#               the GCM depends strongly on resolution, presumably requiring tuned FWETC and FWETL
#               values that depend on the atmospheric resolution.
#
# GEOSagcm=>USE_FWET_FOR_RUNOFF: .FALSE.	
# GEOSldas=>USE_FWET_FOR_RUNOFF: .FALSE.
#
# GEOSagcm=>FWETC: 0.02	                     # 0.02 is hard-wired default for USE_FWET_FOR_RUNOFF=.FALSE.
# GEOSldas=>FWETC: 0.02	                     # 0.02 is hard-wired default for USE_FWET_FOR_RUNOFF=.FALSE. 
#	
# GEOSagcm=>FWETL: 0.02	                     # 0.02 is hard-wired default for USE_FWET_FOR_RUNOFF=.FALSE.    	
# GEOSldas=>FWETL: 0.02	                     # 0.02 is hard-wired default for USE_FWET_FOR_RUNOFF=.FALSE.

# ---- ASCAT-derived turbulent roughness length
#
#    0 : Default - do not use ASCAT information.
#    1 : Replace model roughness length with ASCAT z0 where climatological NDVI<0.2.
#
# GEOSagcm=>USE_ASCATZ0: 0
# GEOSldas=>USE_ASCATZ0: 0

# ---- Prescribe interannually varying LAI, VISDF, and NIRDF from MODIS V006
#
# This option is NOT yet available in GEOSldas!
#
#    0 : DEFAULT climatologies in BCSDIR are used
#    1 : Prescribe interannually varying  MCD15A2H.006 LAI and MCD43GF.006 VISDF and NIRDF albedo 
#
# GEOSagcm=>MODIS_DVG: 0                     # NOT yet used in GEOSldas

# ---- SNOW ALBEDO  
#
#    0  : Snow albedo parameterization based on look-up table (default)
#    1  : Snow albedo derived from MODIS Collection MOD10A1.061 (Feb/2000 - Mar/2022)  
#           - backfilled with global land average snow albedo where unavailable
#           - must use compatible bcs version that includes MODIS-based snow albedo (e.g., v06, v08, v09, ...)
#           - NOTE: bcs v06, v08, and v09 used approximate averaging of MODIS-based snow albedo to tile space;
#                   bcs v11 and v12 employ more accurate, raster-based averaging.
#
# GEOSagcm=>SNOW_ALBEDO_INFO: 0
# GEOSldas=>SNOW_ALBEDO_INFO: 0

#--------------------------------------------------------#
#    GOSWIM aerosol deposition on surface snow           #
#--------------------------------------------------------#

# ---- Aerosol deposition on snow (available only with MERRA-2 forcings)
#
#    0 : GOCART aerosol are NOT used (default)
#    1 : Use all GOCART aerosol data 
#    2 : Use GOCART aerosols *except* dust 
#    3 : Use GOCART aerosols *except* black carbon 
#    4 : Use GOCART aerosols *except* organic carbon
#
# GEOSagcm=>AEROSOL_DEPOSITION: 0
# GEOSldas=>AEROSOL_DEPOSITION: 0

# ---- Number of constituents for GOSWIM (the GOddard SnoW Impurity Module)
#
# NOTE: There are separate parameters for LAND and LANDICE
#
#    0 : Default, GOSWIM snow albedo scheme is turned OFF for land/landice
#    9 : GOSWIM snow albedo scheme is turned ON for land/landice
#
# GEOSagcm=>N_CONST_LAND4SNWALB: 0
# GEOSldas=>N_CONST_LAND4SNWALB: 0
#
# GEOSagcm=>N_CONST_LANDICE4SNWALB: 0        # NOT yet used in GEOSldas


#--------------------------------------------------------#
#                   Irrigation model                     #
#--------------------------------------------------------#

# ---- Run irrigation module

#    NOTE: The irrigation model needs the irrigation parameter file ('irrigation_IMxJM_DL.dat') in BCSDIR to run the      model.
#    0 : Do NOT run irrigation module (default)
#    1 : YES, run irrigation module -
#
#
# GEOSagcm=>RUN_IRRIG: 0
# GEOSldas=>RUN_IRRIG: 1
#
#
# ---- Irrigation trigger
#
#    0 : (Default) LAI-based trigger turns irrigation on if LAI >= (LAImin + LAI_THRES * (LAImax - LAImin))
#    1 : Use planting and harvesting times from 26 crop calendars
#
# GEOSagcm=>IRRIG_TRIGGER: 0
# GEOSldas=>IRRIG_TRIGGER: 0
#
# ---- Irrigation method (ONLY available with IRRIG_TRIGGER: 0)
#
# While the crop calendar based trigger uses crop-specific irrigation methods, the LAI-based trigger (IRRIG_TRIGGER:      0) offers below
# 4 different irrigation methods to choose from:
#    0 : CONCURRENTLY Sprinkler, Flood, and DRIP irrigation methods on method specific tile fractions (default) 
#    1 : Sprinkler irrigation on entire tile
#    2 : Drip irrigation on entire tile
#    3 : Flood irrigation on entire tile
#
# GEOSagcm=>IRRIG_METHOD: 0
# GEOSldas=>IRRIG_METHOD: 0
#
# ----- Below default parameter values can also be changed via this resource file:
#
# IRRIG_THRES:     0.5 # threshold of tile fraction to turn the irrigation model on.
# LAI_THRES:       0.6 # threshold of LAI range to turn irrigation on
# SPRINKLER_STIME: 6.0 # sprinkler irrigatrion start time [hours]
# SPRINKLER_DUR:   4.0 # sprinkler irrigation duration [hours]
# SPRINKLER_THRES: 0.7 # soil moisture threshhold to trigger sprinkler irrigation
# DRIP_STIME:      8.0 # drip irrigatrion start time [hours]
# DRIP_DUR:        8.0 # drip irrigation duration [hours]
# FLOOD_STIME:     6.0 # flood irrigatrion start time [hours]
# FLOOD_DUR:       1.0 # flood irrigation duration [hours]
# FLOOD_THRES:     0.6 # soil moisture threshhold to trigger flood irrigation
# IRR_EFCOR:      30.0 # Efficiency Correction (% water loss: efcor = 0% denotes 100% efficient water use )
# MIDS_LENGTH:     0.6 # Mid-season length as a fraction of crop growing season length (to be used with IRRIG_TRIGGER     : 1)
#                      # lengths of development and end seasons are assumed as (1 - MIDS_LENGTH) / 2.


#--------------------------------------------------------#
#              River routing model (RRM)                 #
#--------------------------------------------------------#

# ---- Run river routing model interactively 
#
#    0 : Default - NO
#    1 : YES
#
# GEOSagcm=>RUN_ROUTE: 0
# GEOSldas=>RUN_ROUTE: 0

# ---- Time step for river routing [s]
#
# GEOSagcm=>RRM_DT: 3600
# GEOSldas=>RRM_DT: 3600 

# ---- Print Resource Parameter Values to Log File
#
#    0: Print only parameter values that differ from default settings
#    1: Print all parameter values
#
# GEOSagcm=>PRINTRC: 1
# GEOSldas=>PRINTRC: 1

#--------------------------------------------------------#
#             CatchCN-specific parameters                #
#--------------------------------------------------------#

# ---- Time step for carbon/nitrogen routines in CatchmentCN model [s]
#
# NOTE: Time step for water/energy routines is controlled by HEARTBEAT_DT in CAP.rc.
#
# GEOSagcm=>DTCN: 5400
# GEOSldas=>DTCN: 5400

# ---- Atmospheric CO2
#
#    0: Use a fixed value defined by "CO2" resource parameter [ppm]
#    1: NOAA CT tracker monthly mean diurnal cycle
#    2: NOAA CT tracker monthly mean diurnal cycle scaled to match EEA global average CO2:
#       NOAA CT CO2 is scaled to the EEA global average CO2, linearly interpolated to the METFORCE year. 
#       For offline simulations: the optional resource parameter "CO2_YEAR" can be used to  
#         set the beginning year of the atmospheric CO2 concentration of the simulation 
#         if it is earlier than the METFORCE year.
#    3: CMIP5 recommended annual average global mean concentrations from getco2.F90 (1765-2150)
#    4: Import AGCM model CO2 (GCM only, does not work with GEOSldas!)
#
# GEOSagcm=>ATM_CO2: 2
# GEOSagcm=>CO2: 350.e-6
#
# GEOSldas=>ATM_CO2: 2
# GEOSldas=>CO2: 350.e-6
# 
# GEOSldas=>CO2_YEAR:-9999   # Only for GEOSldas with ATM_C02=2

# ---- Prescribe daily LAI and SAI data from an archived CATCHCN simulation
#
#
#    0 : NO,  run CN Model interactively (default)
#    1 : YES, prescribe interannually varying LAI and SAI
#    2 : YES, prescribe climatological LAI and SAI
#    3 : Estimated LAI/SAI using anomalies at the beginning of the forecast and climatological LAI/SAI
#    4 : Write LAI/SAI anomalies in catchcn_internal_rst for above option 3
#
# GEOSagcm=>PRESCRIBE_DVG: 0
# GEOSldas=>PRESCRIBE_DVG: 0


