version: 2.1

# Anchors to prevent forgetting to update a version
baselibs_version: &baselibs_version v7.5.0
bcs_version: &bcs_version v10.22.3

orbs:
  ci: geos-esm/circleci-tools@1

workflows:
  build-test:
    jobs:
      # Build GEOSgcm
      - ci/build:
          name: build-GEOSgcm-on-<< matrix.compiler >>
          context:
            - docker-hub-creds
          matrix:
            parameters:
              compiler: [gfortran, ifort]
          baselibs_version: *baselibs_version
          repo: GEOSgcm
          checkout_fixture: true
          mepodevelop: true
          persist_workspace: false # Needs to be true to run fv3/gcm experiment, costs extra
