PrimaryExports%%
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
#  Import      |       |       | Regrid |        Refresh       | OffSet | Scale  | Variable On |   File   |
#  Name        | Units | Clim  | Method |     Time Template    | Factor | Factor |     File    | Template |
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
DW NA N N  -  none none  elevation  /discover/nobackup/projects/gmao/geos-wmma/data/gebco2008.ocean_depth.nc4
UW;VW NA N N  0  none none  us;vs   /dev/null #/discover/nobackup/projects/gmao/geos-wmma/data/S2S-2_1_ANA_001/S2S-2_1_ANA_001.geosgcm_ocn2d_720x361.%y4%m2%d2_1200z.nc4

#DW NA N N  -  -4000.0 0.0  elevation /discover/nobackup/projects/gmao/geos-wmma/data/gebco2008.ocean_depth.nc4
%%

