#################################################################################### 
#                                                                                  #
#    Resource file for Land Parameters in AGCM                                     #
#                                                                                  #
#    This file is ignored in the land-only (offline) GEOSldas!!!                   #
#                                                                                  #
#################################################################################### 


# ---- SURFLAY (Thickness of surface layer for soil moisture [mm])
# SURFLAY: 50.0 for New Soil Params (default, Ganymed-4 and later)
# SURFLAY: 20.0 Old Soil Params  (Ganymed-3 and earlier)
#
# GEOSldas=>SURFLAY: 50.0
 
# ---- Choose land model version
#    Icarus  : Current DEFAULT for the Icarus AGCM (Scientifically close to MERRA-2)
#    V24_C05 : DEFAULT for GEOSldas_m4-17_0
#    NRv7.2  : Current DEFAULT beginning with GEOSldas_m4-17_6 (same in NRv8.1)
#
# GEOSldas=>LAND_PARAMS: NRv7.2

# ---- Formulation for turbulent roughness length (Z0):
#    0 : Fortuna,      SMAP NRv3
#    1 : Ganymed-4_1,  SMAP NRv4/NRv4.1
#    2 : Heracles-4_3, Icarus (AGCM default)
#    3 :               SMAP NRv5/NRv7.2
#    4 : Icarus-NLv3 (f525_fp)
#                      SMAP NRv8.1
#
# GEOSldas=>Z0_FORMULATION: 4

# ---- ASCAT-derived roughness length:
#    0 : Default - do not use ASCAT information.
#    1 : Replace model roughness length with ASCAT Z0 where climatological NDVI<0.2.
#
# GEOSldas=>USE_ASCATZ0: 0

# ---- Prescribe interannually varying MODIS V006  LAI, VISDF, and NIRDF
#    0 : DEFAULT climatologies in BCSDIR are used
#    1 : prescribe interannually varying  MCD15A2H.006 LAI and MCD43GF.006 VISDF and NIRDF albedo 
#        NOTE: This option is not yet available in GEOSldas.
#
# GEOSldas!=MODIS_DVG: 0

#--------------------------------------------------------#
#    GOSWIM Aerosol Depositions on surface snow          #
#--------------------------------------------------------#

# ---- Aerosol deposition on snow (available only with MERRA-2 forcings):
#    0 : DEFAULT, ALL GOCART Aerosol are NOT used
#    1 : use all GOCART aerosol data 
#    2 : GOCART DUST is NOT used
#    3 : GOCART Black Carbon is NOT used
#    4 : GOCART Organic Carbon is NOT used
#
# GEOSldas=>AEROSOL_DEPOSITION: 0

# ---- Number of constituents for GOSWIM (the GOddard SnoW Impurity Module)
# Note 2 separate parameters for LAND and LANDICE
#    0 : Default, GOSWIM snow albedo scheme is turned OFF for land
#    9 : GOSWIM snow albedo scheme is turned ON for land
#
# GEOSldas=>N_CONST_LAND4SNWALB: 0
# GEOSldas!=N_CONST_LANDICE4SNWALB: 0 

#--------------------------------------------------------#
#                       Irrigation Model                 #
#--------------------------------------------------------#

# ---- Run the irrigation model :
#    0 : Default - NO Do not run the irrigation model
#    1 : YES run the irrigation model
#
# GEOSldas=>RUN_IRRIG: 0

# ---- irrigation model method :
#    0 : Default - Sprinkler and Flood irrigation combined
#    1 : sprinkler irrigation only
#    2 : flood irrigation only
#
# GEOSldas=>IRRIG_METHOD: 0

#--------------------------------------------------------#
#                   River Routing Model                  #
#--------------------------------------------------------#

# ---- Run River Routing Model interactively 
#    0 : Default - NO
#    1 : YES
#
# GEOSldas=>RUN_ROUTE: 0

# ---- Time step for river routing
#
# GEOSldas=>RRM_DT: 3600 # 1-hourly

#--------------------------------------------------------#
#             CatchCN Model specific parameters          #
#--------------------------------------------------------#

# ---- Time step for carbon/nitrogen routines in CatchmentCN model (default 5400):
#      (Time step for water/energy routines is controlled by HEARTBEAT_DT in CAP.rc)
#
# GEOSldas=>DTCN: 5400

#  ---- Atmospheric CO2
#    0: use a fix value as defined by below CO2 (default=350.e-6)
#    1: NOAA CT tracker monthly mean diurnal cycle
#    2: NOAA CT tracker monthly mean diurnal cycle scaled to match EEA global average CO2
#       By default NOAA CT CO2 is scaled to the EEA global average CO2 linearly interpolated to the METFORCE year. 
#       For offline simulations : the default holds but with the below optional parameter CO2_YEAR, which permits user to 
#       set the beginning year of the atmospheric CO2 concentration of the simulation if it's earlier than the METFORCE year.
#    3: CMIP5 recommended annual average global mean concentrations from getco2.F90 (1765-2150)
#    4: import AGCM model CO2 (AGCM Only)
#
# ATM_CO2: 2
# CO2: 350.e-6
# CO2_YEAR:

# ---- Prescribe daily LAI and SAI data from an archived CATCHCN simulation 
#    0 : NO Run CN Model interactively (Default)
#    1 : YES Prescribe interannually varying LAI and SAI
#    2 : YES Prescribe climatological LAI and SAI
#    3 : Estimated LAI/SAI using anomalies at the beginning of the foeecast and climatological LAI/SAI
#    4 : Write LAI/SAI anomalies in catchcn_internal_rst for above option 3
#
# GEOSldas=>PRESCRIBE_DVG: 0

# ---- Scale CATCHCN ALBEDO and FPAR
#    0: NO scaling is performed (default)
#    1: Scale albedo to match interannually varying MODIS NIRDF and VISDF anomaly
#    2: Scale albedo to match CDFs of model fPAR to MODIS CDFs of fPAR 
#    3: Perform both 1 and 2 above 
#
# GEOSldas=>SCALE_ALBFPAR: 0
