#
# !RESOURCE: GEOS_TurbulenceGridComp.rc ---GEOS_Turbulence resource file
  
#
#  DESCRIPTION:
#  GEOS_Turbulence 
#  The GEOS_Turbulence resource file is used to control basic
#  properties of the GEOS_Turbulence Grid Component.
#
# !REVISION HISTORY:
#
# 2022/12/08
#  11Oct2019  D.Boggs GEOS_Turbulence resource file has been created
#--------------------------------------------------------------------

# Use hybrid OpenMP threads?
# --------------------------
use_threads: .FALSE.
