name: NDSL checks

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout NDSL
          uses: actions/checkout@master
          with:
            repository: NOAA-GFDL/NDSL
            submodules: 'recursive'
            path: 'ndsl'
        - name: Checkout repository
          uses: actions/checkout@master
          with:
            submodules: 'recursive'
            path: 'GCMGridComp'
        - name: Step Python 3.11.9
          uses: actions/setup-python@v4.6.0
          with:
            python-version: '3.11.9'
        - name: Install OpenMPI for gt4py
          run: |
            sudo apt-get install libopenmpi-dev
        - name: Install Python packages
          run: |
            python -m pip install --upgrade pip setuptools wheel
            cd ndsl
            pip install -e .[develop]
            pip install -e ../GCMGridComp/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/pyMoist
        - name: Run lint via pre-commit
          run: |
            cd ./GCMGridComp/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/pyMoist
            pre-commit run --all-files